canvas {
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid white;
}

#game-container {

}

button {
    background-color: rgba(0, 0, 0, 0.53);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#iniciar {
    margin-left: 50%;

}

#chat-box{
    height:100px;
    width:920px;
    border:1px solid #ccc;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
}