<!DOCTYPE html>
<html lang="en">
<head>
    <!-- jQuery Core :) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQueryUI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Bootstrap CSS and JS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- The integrity and crossorigin attributes are used for Subresource Integrity (SRI) checking. This allows browsers to ensure that resources hosted on third-party servers have not been tampered with.
    Use of SRI is recommended as a best-practice, whenever libraries are loaded from a third-party source. Read more at srihash.org -->

    <script src="{{ url_for('static', filename='canvas.js') }}"></script>
    <script src="../static/canvas.js"></script>
    <script
            type="text/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js">
    </script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        function joinRoom() {
            socket.emit('join', {room: sessionStorage.getItem('room')});
            $('#botones-salas').hide();
            $('#iniciar').show();
            $('#salir').show();
            $('#chat').show();
        }

        function enviarTexto() {
            texto = $('#texto').val();
            socket.emit('message', {message: texto, room: sessionStorage.getItem('room')});
            texto.val("");
        }

        function leaveRoom() {
            socket.emit('leave', {room: sessionStorage.getItem('room')});
            sessionStorage.removeItem('room');
            document.getElementById('chat-box').innerHTML = "";
            $('#botones-salas').show();
            $('#iniciar').hide();
            $('#salir').hide();
            $('#chat').hide();
        }

        socket.on('message', function (message) {
            if (message === "error-001") {
                alert("Esta sala se encuentra llena. Por favor elija otra.")
            } else {
                document.getElementById('chat-box').innerHTML += message + '<br>';
            }
        });
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='pong.css') }}">
    <meta charset="UTF-8">
    <title>Pong Game</title>
</head>
<body background="../static/background.gif">
<div class="container-fluid" id="salir" hidden>
    <button class="btn btn-primary col-md-1" id="boton-salir" onclick="leaveRoom()">Salir</button>
</div>
<div class="container-fluid" id="iniciar" hidden>
    <button id="boton-iniciar" class="btn btn-primary col-md-1">Iniciar</button>
</div>
<div class="container-fluid">
    <div id="game-container" class="row col-md-12">
    </div>

</div>
<div class="container-fluid">
    <div class="col-md-6" id="botones-salas">
        <div class="col-md-3">
            <button class="btn btn-primary game-button" onclick="sessionStorage.setItem('room', 'A'); joinRoom();">Sala
                A
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary game-button" onclick="sessionStorage.setItem('room', 'B'); joinRoom();">Sala
                B
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary game-button" onclick="sessionStorage.setItem('room', 'C'); joinRoom();">Sala
                C
            </button>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary game-button" onclick="sessionStorage.setItem('room', 'D'); joinRoom();">Sala
                D
            </button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div id="chat" hidden>
        <div id="chat-box"
             style="height:100px;width:920px;border:1px solid #ccc;font:16px/26px Georgia, Garamond, Serif;overflow:auto;">
        </div>
        <div>
            <input type="text" id="texto">
            <button class="btn btn-primary game-button" onclick="enviarTexto()">Enviar</button>
        </div>
    </div>
</div>
</body>
</html>