<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<link>
<head>
    <!-- jQuery Core -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- jQueryUI -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- Bootstrap CSS and JS -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <!-- The integrity and crossorigin attributes are used for Subresource Integrity (SRI) checking. This allows browsers to ensure that resources hosted on third-party servers have not been tampered with.
    Use of SRI is recommended as a best-practice, whenever libraries are loaded from a third-party source. Read more at srihash.org -->


    <link rel="stylesheet" href="{{ url_for('static', filename='login-signup.css') }}">
    <link rel="stylesheet" href="../static/login-signup.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <title>Signup Page</title>
</head>

<body background="../static/background.gif">
<header>
    <div class="lol">
        <h1 class="header">Signup</h1>
    </div>
</header>
<form id="signup" method="post" name="signup">

    <div class="container">

        <label><b>Name</b></label>
        <input type="text" id="name" placeholder="Enter Name" name="Nombre" required>

        <label><b>Last Name</b></label>
        <input type="text" id="lname" placeholder="Enter Last Name" name="Apellido" required>

        <label><b>Email</b></label>
        <input type="text" id="email" placeholder="Enter Email" name="Correo" required>

        <label><b>Username</b></label>
        <input type="text" id="user" placeholder="Enter Username" name="Usuario" required>

        <label><b>Password</b></label>
        <input type="password" id="password" placeholder="Enter Password" name="Contrasena" required>

        <button id="submit_button" type="button">Submit</button>

        <button type="button" id="cancel" onclick="location.href='login.html';">Cancel</button>

    </div>
</form>
</body>
</html>